* {{
    background:     {background};
    background-alt: {background};
    foreground:     {foreground};
    selected:       {color1};
    active:         {color2};
    urgent:         {color4};
}}
